.sidenav{
    height: 646px;
    width: 30%;
    background-color: gray;
    padding-left: 20px;
    float: right;
  


}


.list-group{
    width: 95%;
    padding: 10px;
    overflow-y: auto;
    
   
}

.form{
    padding: 10px;
}

